/*
black: #454444;
white: #FDFDFD
blue: #6699CC
red: CE3A37
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* MINE */

html {
	font-size: 1em;
	font-family: verdana;
    background-color: #FDFDFD; 
    color: #454444;
}


div {
	text-align: center;
    width: 100%;
}

p.whitetxt {
    margin-top: 0em;
    margin-left: 4em;
    margin-right: 4em;
    color: #FDFDFD;
}

p {
    font-size: 1em;    
    text-align: center;
    margin: 0 18% 0 18%;
    padding: .5em 0em .5em 0em;
}

p.intro {
    font-size: 1.1em;
    margin-top: 3em;
    margin: 0em 15em 0em 15em;
}

h1 {
    padding: 3% 0 3% 0;
    font-size: 3em;
    color: #6699CC;
    text-align: center;
}

h2 {
    font-size: 1.7em;
	text-align: center;
    margin: .4em 18% 1em 18%;
}

div.okay {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

div.bottom {
    background-color: #454444;
    width: 100%;
    height: 30%;
    left: 0;
    right: 0;
    margin-top: 4em;
    position: relative;
    padding: 2em 0em 1em 0em;
}

h2.whitetext {
    color: #FDFDFD;

}

ul {
    text-align: center; 
    position: relative;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #CE3A37;
}

hr {
    display: block;
    margin-top: 2em;
    margin-bottom: 3em;
    width: 25%;
    height: 2px;
    border: none;
    align-self: center;    
    background: #454444;
}
iframe#flamingo {
    margin-top: 1em;
    margin-bottom: 3em;
    width: 716px;
    height: 415px;
}

iframe#winter {
    width: 1800px;
    height: 415px;
}

iframe {
    align-self: center;
    margin-top: 1em;
    margin-bottom: 3em;
    width: 716px;
    height: 415px;
    border-width: 3px;
    border-style: solid;
    border-color: #6699CC;
}

img {
    margin: 1em 0 1em 0;
    border-style: solid;
    border-width: 3px;
    border-color: #6699CC;

}
p.botboys {
padding-bottom: 3em; 
}












