@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas:400,700" rel="stylesheet');

html {


}

body { font-family: 'Mountains of Christmas', cursive; 
font-size: 125%; 
font-weight: 300; 
color: #555; 
margin: 0; 
padding: 0;
}

#page {
max-width: 1200px;
margin: 0 auto; 
position: relative;
    z-index: -100000000000000000;
}

/* Text */

h1 { 
margin: 0 0 1em 0;
font-size: 2.8em;
font-weight: 700;
}

h2 { 
margin: 0 0 .5em 0;
font-size: 1.6em;
font-weight: 700;
line-height: 1.1em;
}

h3 { 
margin: 0 0 .5em 0;
font-size: 1.3em;
font-weight: 700;
}

h4 { 
margin: 0 0 1.5em 0;
font-size: 1em;
font-weight: 700;
}

p { 
color: black;
margin: 0 0 1em 0;
font-size: 0.875em;
}

a {
color: #007eff;
}

a:visited { color: #65b1ff; }

a.btn {
font-size: 1.2em;
text-decoration: none;
color: black;
border: 1px solid black;
padding: 4px 15px;

}

/* Header */

header { 
height: 430px; 
background: #cf0004 url(../images/banner_1200.jpg) no-repeat center bottom;  
position: relative;
}


header a.logo span {
display: none;
}

header div.hero {
position: absolute;
width: 42%;
top: 130px;
left: 55%;
}

header div.hero h1{
line-height: 1em;
margin: 0 0 3px 0;
color: #fff;
}

/* Section - All */

section { 
padding: 0 30px; 
}
section::after {
content:'';
display: block;
clear: both;
}

/* Section - Main */

section.main { 
margin-top: 20px;
margin-bottom: 30px;
padding: 0;
}
section.main aside {
width: 33%;
float: left;
text-align: center;
}

section.main .content {
margin: 15px;
background: no-repeat center top;
background-size: 75px 75px;
padding-top: 85px;
}

section.main aside h3 a {
color: #000;
text-decoration: none;
}

section.main aside h3 a:hover {text-decoration: underline;}


/* Section - Atmosphere */

section.atmosphere {
background-color: #0191C8;
padding-top: 30px;
padding-bottom: 30px;
color: #fff;
}

section.atmosphere article {
padding: 0 20px 0 515px;
background: url(../images/photo_1.jpg) no-repeat 0 5px;
position: relative;
min-height: 420px;
}

/* Section - How To */

section.how-to {
background-color: #eee9d9;
position: relative;
}
section.how-to aside {
width: 30%;
float: left;
margin-right: 10px;
}
section.how-to aside .content {
padding: 30px 30px 20px 0;
}
section.how-to aside .content img {
display: block;
margin-bottom: 15px;
width: 70%;
}
section.how-to aside .content h4 {
margin-bottom: 0;
}
section.how-to aside .content p {
margin-bottom: .5em;
}
section.how-to aside .content a {
display: inline-block;
color: #cc6633;
font-weight: 700;
}

section.how-to blockquote {
margin: 0;
width: 32%;
color: #444;
background-color: #fff;
position: absolute;
bottom: 0;
right: 4%;
}

section.how-to blockquote p {
margin: 30px 30px 20px 50px;
}

section.how-to blockquote p.quote{
font-style: italic;
font-size: 1.2em;
}

section.how-to blockquote p.credit {
color: #777;
font-size: .9em;
margin-top: 0;
padding-left: 20px;
line-height: 1.3em;
position: relative;
}

section.how-to blockquote::before {
content:'\201c';
color: #d2bd65;
position: absolute;
top: 10px;
left: 8px;
font-size: 5em;
font-family: serif; 
}

section.how-to blockquote p.quote::after {
content:'\201d';
font-family: serif;
}

section.how-to blockquote p.credit::before {
content:'\2014';
position: absolute;
top: -1px;
left: 0;
}


/********** End RESET **********/



html {
    font-size: 100%;
}
body {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    background-color: #f7efeb;
    padding: 1.25em; /* 20 */
}
body, a, a:hover {
    color: #111;
}
a {
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
a, a:hover {
    text-decoration: none;
}
#nav {
    width: 60em; /* 1000 */
    font-weight: 400;
    position: relative;
    top: 25%;
    left: 50%;
    margin-left: -30em; /* 30 480 */
}
#nav > a {
    display: none;
}
#nav li {
    position: relative;
}
#nav li a {
    color: #fff;
    display: block;
}
#nav li a:active {
    background-color: #c00 !important;
}
#nav span:after {
    width: 0;
    height: 0;
    border: 0.313em solid transparent; /* 5 */
    border-bottom: none;
    border-top-color: #efa585;
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: -0.313em; /* 5 */
}
/* first level */

            #nav > ul {
    height: 3.75em; /* 60 */
    background-color: #e15a1f;
}
#nav > ul > li {
    width: 25%;
    height: 100%;
    float: left;
}
#nav > ul > li > a {
    height: 100%;
    font-size: 1.5em; /* 24 */
    line-height: 2.5em; /* 60 (24) */
    text-align: center;
}
#nav > ul > li:not( :last-child ) > a {
    border-right: 1px solid #cc470d;
}
#nav > ul > li:hover > a, #nav > ul:not( :hover ) > li.active > a {
    background-color: #cc470d;
}
/* second level */

                #nav li ul {
    background-color: #cc470d;
    display: none;
    position: absolute;
    top: 100%;
}
#nav li:hover ul {
    display: block;
    left: 0;
    right: 0;
}
#nav li:not( :first-child ):hover ul {
    left: -1px;
}
#nav li ul a {
    font-size: 1.25em; /* 20 */
    border-top: 1px solid #e15a1f;
    padding: 0.75em; /* 15 (20) */
}
#nav li ul li a:hover, #nav li ul:not( :hover ) li.active a {
    background-color: #e15a1f;
}
 @media only screen and ( max-width: 62.5em ) /* 1000 */ {
#nav {
    width: 100%;
    position: static;
    margin: 0;
}
 @media only screen and ( max-width: 40em ) /* 640 */ {
html {
    font-size: 75%; /* 12 */
}
#nav {
    position: relative;
    top: auto;
    left: auto;
    z-index: 100000000000000000;
}
#nav > a {
    width: 3.125em; /* 50 */
    height: 3.125em; /* 50 */
    text-align: left;
    text-indent: -9999px;
    background-color: #e15a1f;
    position: relative;
}
#nav > a:before, #nav > a:after {
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: '';
}
#nav > a:after {
    top: 60%;
}
#nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type {
    display: block;
}
/* first level */

            #nav > ul {
    height: auto;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
}
#nav:target > ul {
    display: block;
}
#nav > ul > li {
    width: 100%;
    float: none;
}
#nav > ul > li > a {
    height: auto;
    text-align: left;
    padding: 0 0.833em; /* 20 (24) */
}
#nav > ul > li:not( :last-child ) > a {
    border-right: none;
    border-bottom: 1px solid #cc470d;
}
/* second level */

                #nav li ul {
    position: static;
    padding: 1.25em; /* 20 */
    padding-top: 0;
}
.skating {
width: 100%;
height: auto;
}

/* Footer */

@media screen and (max-width: 760px) {

    h1 { font-size: 1.8em; }
    h2 { font-size: 1.4em; margin-left: -7em; color: black; }
    h3 { font-size: 1.1em; }
    a.btn { font-size: 1em; margin-left: -10em; background-color: white;}
    header { height: 160px; background-image: url(../images/banner_625.jpg); background-position: left top; }

    header a.logo { width: 145px; height: 60px; }
    header div.hero { top: 140px; left: 48%; }

    section.atmosphere { height: 19em;}
    section.main { margin-top: 10px; margin-bottom: 10px; }
    section.main aside div.content img { background-size: 55px 55px; padding-top: 60px; }
    section.how-to aside div.content img { width: 85%; }
    section.atmosphere article { height: 160px; background-image: url(../images/photo_2.jpg); background-position: left top; margin-top: 0em; opacity: 50%;}

    nav { padding-top: 80px; }
    nav > ul { padding-left: 10px; }
      
    section.how-to blockquote p.quote{
        font-size: 1em;

    }
    section.atmosphere p.hah {
        font-size: 1em;
        margin-left: -10em;
        color: black;


    }

    header div.hero h1 {
        margin-top: -3.5em;
    }
        header div.hero h2 {
        margin-left: 0em;
    }


    
}

@media screen and (max-width: 625px) {

    h1 { font-size: 1.8em; }
    h2 { font-size: 1.4em; margin-left: -12em; color: black; }
    h3 { margin-bottom: 0px; }
    a.btn { font-size: .9em; }

    header { height: 160px; background-image: url(../images/banner_625.jpg); background-position: left top; }

    header div.hero { top: 100px; left: 48%; }
    section.atmosphere { height: 18em;}
    section.main { margin-top: 10px; margin-bottom: 10px; }
    section.main aside div.content img { background-size: 55px 55px; padding-top: 60px; }
    section.how-to aside div.content img { width: 85%; }
    section.atmosphere article { height: 160px; background-image: url(../images/photo_8.jpg); background-position: left top; margin-top: 0em; margin-left: 0 opacity: 50%;}
   
    nav {position: static; width: auto; padding: 20px 15px; background-color: #black}
    nav > ul { padding-left: 10px; }

      
    section.how-to blockquote p.quote{
        font-size: .9em;

    }
    section.atmosphere p.hah {
        font-size: 1em;
        margin-left: -17em;
        color: black;


    }

    header div.hero h1 {
        margin-top: -2em;
    }
        header div.hero h2 {
        margin-left: 0em;
    }


@media screen and (max-width: 425px) {

    h1 { font-size: 1.8em; }
    h2 { font-size: 1.4em; margin-left: -15em; color: black; }
    h3 { margin-bottom: 0px; }
    a.btn { font-size: .9em; }

    header { height: 100px; background-image: url(../images/banner_425.jpg); background-position: left top; }
    header div.hero { top: 100px; left: 48%; }
    section.atmosphere { height: 10em;}
    section.main { margin-top: 10px; margin-bottom: 10px; }
    section.main aside div.content img { background-size: 55px 55px; padding-top: 60px; }
    section.how-to aside div.content img { width: 85%; }
    section.atmosphere article { height: 100px; background-image: url(../images/photo_5.jpg); background-position: left top; margin-top: 0em; opacity: 50%; margin-left: -1.3em;}
   
    nav {position: static; width: auto; padding: 20px 15px; background-color: #black}
    nav > ul { padding-left: 0px; }

      
    section.how-to blockquote p.quote{
        font-size: .95em;
        margin-left: 2em;
        margin-right: .4em;
    }

    section.how-to blockquote::before {
        font-size: 3em;

    }
    section.atmosphere p.hah {
        font-size: .7em;
        margin-top: -1em;
        margin-left: -28em;
        margin-right: 11.5em ;
        margin-bottom: 10em ;
        color: black; 
        font-size: .9em;

    }

    header div.hero h1 {
        margin-top: -3em;
    }
        header div.hero h2 {
        margin-left: 0em;
    }

