/* CSS Document for Print */

@import url(<link href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas:400,700" rel="stylesheet">);

@page {
 	margin: .5cm; 
}

body {
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12pt;
	font-weight: normal;
	margin: 0;
	padding: 0;
 }

h1, h2, h3, h4 {
	margin: 0;
	font-family: "Open sans", sans-serif;
}

h1 { font-size: 1.4em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }

p { margin: 0 0 1em 0; font-size: .9em; }

a, a:visited { color: inherit; text-decoration: none; }

a::after, a:visited::after {
	content:' (' attr(href) ')';
	font-style: italic;
	word-wrap: break-word;
}

nav { display: none; }

header { position: relative; }

header::after { content:url(../images/banner_1200_print.jpg);}

header div.hero { width: 75%; position: absolute; top: 110px; left: 25px;}

section { margin-bottom: 50px; }

section.atmosphere { position: relative; margin-bottom: 40px; padding-top: 50px; border-top: 1px solid #white; }

section.atmosphere::before { background:url(..images/photo_1_print.jpg); }

section.atmosphere article {
padding: 0 20px 0 515px;
background: url(../images/photo_1_print.jpg) no-repeat 0 5px;
position: relative;
min-height: 420px;
}

section.how-to { padding-top: 50px; border-top: 1px solid #ccc; page-break-inside: avoid; }

section.how-to aside { width: 25%; float: left; margin: 0 35px 0 0; }

section.how-to div.content img { display: none; }

section.how-to aside:nth-child(1) div.content::before { content:url(../images/photo_iceskating_print.jpg); }

section.how-to aside:nth-child(2) div.content::before { content:url(../images/photo_tree_print.jpg); }

section.how-to blockquote {
				width: 30%;
				float: left;
				margin-left: 30px;
				position: relative;
			}
			
			section.how-to blockquote::before {
				content:'\201c';
				color: #ccc;
				font-size: 5em;
				font-family: serif;
				display: inline-block;
				position: absolute;
				top: -20px;
				left: -45px;
			}
			
			section.how-to blockquote p.quote {
				font-style: italic;
				font-size: 1.4em;
				color: #888;
			}
			
			section.how-to blockquote p.quote::after {
				content:'\201d'; font-family: serif;
			}
			
			section.how-to blockquote p.credit {
				padding-left: 20px; position: relative;
			}
			
			section.how-to blockquote p.credit::before {
				content:'\2014';
				position: absolute;
				left: 0px; top: -1px;
			}

footer { border-top: 1px solid #ccc; position: relative; min-height: 200px; padding: 350px 0 0 170px; }

footer a { display: block; margin-top: 15px; }

footer a::after { display: block; }

footer div.content::after {
	display: block; margin-top: 30px; font-style: italic; font-size: .9em;
}

















